.login-form-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.login-form {
		padding: 5rem 15rem;
	}
}

.vd-profile-picture {
	margin: auto;
}
